.header{
    padding: 30px 10px 10px;
    position: fixed;
    background: white;
    z-index: 20;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.carousel.home{
    padding-top: 60px;
}

@media(min-width: 468px){
    .header{
        padding: 30px 60px 10px;
    }
}

.toleft{
    float: left;
}

.header .toright{
    float: right;
    margin-top: 4px;
    display: none;
}

.header .toright > div{
    float: left;
}

.header .toright > div a{
    color: #121313;
    padding: 10px;
    margin: 20px;
}

.header .toright > div.active a{
    color: #7D7D7D;
}

.navbar{
    display: block;
    float: right;
    position: relative;
    top: -6px;
    padding: 10px;
    cursor: pointer;
}

.sidebar-mini{
    background: black;
    min-height: 100%;
    width: 0;
    float: right;
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    transition: width 600ms ease-in-out;
    box-shadow: 0px 0px 20px 1px rgba(255,255,255,0.1);
}

@media(min-width: 992px){
    .header .toright{
        display: block
    }

    .navbar{
        display: none
    }

    .sidebar-mini{
        display: none;
    }
}

.sidebar-mini > div{
    margin-left: 50px;
}

.sidebar-mini > div:first-child{
    margin-top: 100px;
}

.sidebar-mini > div,
.sidebar-mini > div > a{
    padding: 10px 0;
    color: #eee;
}

.sidebar-mini > div.active a{
    color: #7d7d7d;
}

.fade-out{
    opacity: 0.5;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.slick-list{
    width: 100%;
}

.carousel.home{
    min-height: 70vh;
}

/* latest videos */

.latest-video,
.music{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
}



.latest-video .video-video iframe{
    width: 100%;
    min-height: 400px;
}

.latest-video > h3{
    text-align: center;
}

.latest-video hr{
    border-top: 1px solid #CEC40D;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.video-text h4{
    line-height: 40px;
}

.video-text h3,
.video-text h4{
    text-align: center;
}

.video-text hr{
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media(min-width: 576px){

    .video-text h3,
    .video-text h4{
        text-align: left;
    }

    .video-text hr{
        margin: 0;
        margin-right: 50%;
        margin-top: 20px;
    }

}

/* music */

@font-face{
    src: url("../fonts/CircularStd.ttf");
    font-family: circular;
}

.music{
    margin-bottom: 0;
    font-family: circular, sans-serif;
}

.music iframe{
    position: relative;
    top: -10px;
    width: 100%;
}

.music-text{
    text-align: center;
}

.music-text hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 180px;
    border-top: 1px solid #CEC40D;
}

@media(min-width: 576px){
        
    .music iframe{
        top: 50px;
        right: 20px;
    }
    .music-text{
        text-align: left;
    }
    .music-text hr{
        margin-left: 0;
        margin-right: 58%;
    }
}

.music-links a{
    text-decoration: underline;
    margin-right: 15px;
    text-underline-position: under;
    -ms-text-underline-position: under;
    color: black;
    line-height: 50px;
}

.music-text > h5{
    margin-top: 25px;
    margin-bottom: 25px;
}

.big-lady{
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 2100px;
    background: linear-gradient(to left,rgba(220,220,220,0.8),rgba(252,252,252,1.0)) ,url(../img/photos.png);
    background-position: 60% 100%;
    background-repeat: no-repeat;
}

@media(min-width: 768px){
    .big-lady{
        background-position: right center;
    }
}

.big-lady .instagram{
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 20px 20px 200px;
    background: grey;
    color: black;
    text-align: center;
}

.big-lady .instagram a{
    color: #000;
    position: relative;
    font-size: 18px;
    left: 0%;
    text-decoration: underline;
    text-underline-position: under;
}

.big-lady .insta-pix{
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
    margin: auto;
    z-index: 2;
}

@media(min-width: 525px){
    .big-lady .insta-pix{
        width: 500px;
        top: 20%;
    }
}

@media(min-width: 992px){
    .big-lady .insta-pix{
        width: 45%;
        max-width: 800px;
        top: 25%;
        right: unset;
        left: 10.5%;
        margin: unset;
    }

    .big-lady .instagram a{
        left: 10%;
    }
}

.big-lady .insta-pix img{
    width: 100%;
}

.footer.home{
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0px 20px;
    position: absolute;
    top: unset;
    bottom: 0;
}