*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Trajan, serif;
    color: #040404;
}

@font-face{
    src: url("../fonts/Trajan-Pro.ttf");
    font-family: Trajan;
}

@font-face{
    src: url("../fonts/c-book.ttf");
    font-family: circular;
}

.circular{
    font-family: circular, serif;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

a,
a:hover,
a:visited,
a:active{
    text-decoration: none;
}

button{
    white-space: nowrap;
}

.bold{
    font-weight: bold;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 12px;
}

@media(min-width: 768px){
    h1{
        font-size: 90px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 14px;
    }
}

.container-fluid{
    padding: 0;
    max-width: 1960px;
}

.carousel{
    height: 100vh;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.2);
}

.slides{
    width: 100%;
    margin: auto;
    /* background: black; */
    /* padding: 20px; */
}

.slides .slide1,
.slides .slide2,
.slides .slide3,
.slides .slide4{
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-arrow{
    position: absolute;
    top: 45%;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

.slick-arrow.prev-arrow{
    left: 0;
}

.slick-arrow.next-arrow{
    right: 0;
}

.lower-body{
    background: #CEC40D;
    padding-top: 60px;
}

.videos{
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
    max-width: 1280px;
}

.videos iframe{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    display: block;
    min-height: 315px;
}

.videos .vr{
    display: none;
    height: 450px;
    position: relative;
    top: 80px;
    left: 0px;
    border-left: 1px solid #333;
}

@media(min-width: 768px){

    .videos .youtube{
        margin-left: -5px;
    }
    .videos .spotify iframe{
        /* float: right; */
        /* margin: 0; */
    }
    .videos .vr{
        display: block;
    }
}

.videos .video-text{
    text-align: center;
    width: 80%;
    margin: auto;
}

.videos .video-text h4{
    line-height: 40px;
}

/* sign up */

.signup{
    margin: auto;
    width: 90%;
    max-width: 550px;
    text-align: center;
    padding-bottom: 50px;
}

.signup-text{
    margin-bottom: 30px;
}

.signup .signup-text h3{
    line-height: 40px;
}

.signup table{
    width: 100%;
}

.signup input{
    width: 85%;
    float: left;
    padding: 15px 0;
    border: none;
    background: transparent;
    border-bottom: 3px solid black;
}

.signup button{
    width: 100%;
    float: right;
    border: none;
    color: #000;
    background: transparent;
    border-bottom: 3px solid black;
    padding: 15px 0px;
}

input:focus,
button:focus{
    box-shadow: none;
    outline: none;
}

input::placeholder{
    color: #000;
}
input:-moz-placeholder{
    color: #000;
}
input::-webkit-input-placeholder{
    color: #000;
}
input:-ms-input-placeholder{
    color: #000;
}
input::-moz-placeholder{
    color: #000;
}


/* Enter site */

.enter-site h5{
    padding: 20px 40px;
    background: black;
    color: #CEC40D;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    transition: color 200ms linear;
}

.enter-site h5:hover{
    color: #eee;
    transition: color 500ms linear;
}

/* footer */

.footer{
    background: #CEC40D;
    margin: 0;
    position: relative;
    top: -2px;
    padding: 0px 20px;
}

.footer .socials{
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

.footer .socials > div{
    float: left;
}

.footer .socials img{
    padding: 5px;
    margin-right: 15px;
    height: 30px;
    width: auto;
}

.footer .socials div:last-child img{
    margin: 0;
}

.footer .copyright h5{
    text-align: center;
    padding-bottom: 25px;
    color: #282829;
    letter-spacing: -0.36px;
}