.disco{
    padding-top: 100px;
    padding-left: 10%;
    padding-bottom: 30px;
    margin: auto;
    background: rgba(226, 226, 233, 0.5);
}

.disco-slide .slick-slide:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.disco .disco-text{
    margin-left: 3%;
}

.disco-slide .slick-slide h5{
    padding-left: 20%;
}

.disco-slide .slick-slide img{
    width: 80%;
    float: right;
    margin-bottom: 10px;
}

.disco-slide .slick-slide:last-child h5{
    padding-left: 15%;
}

.disco-slide .slick-slide:last-child img{
    float: left;
    margin-left: 15%;
}

.disco-slide .slick-arrow{
    top: 25%;
}

.disco-slide .slick-arrow img{
    background: #CEC40D;
    padding: 3px 6px;
    border-radius: 50%;
}

.disco-slide .slick-arrow.prev-arrow{
    transform: rotate(180deg);
    margin-left: -2%;
}

.disco-slide .slick-disabled{
    display: none!important;
}

.big-lady.music{
    background-position: 60% 80%;
    margin: 0;
    min-height: 2300px;
}

@media (min-width: 768px){
    .big-lady {
        background-position: right 200px;
    }
}

.other-body .listen{
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.other-body iframe{
    top: 0;
    margin-bottom: 20px;
    /* right: 0; */
}

.other-body .video-video{
    margin-left: 0px;
}

.music .other-body .row{
    margin: 0;
}

.other-body .audio{
    margin-bottom: 50px!important;
    padding-top: 70px;
}

.music .other-body{
    width: 90%;
    margin: auto;
}

@media(min-width: 576px){
        

    .music .other-body{
        width: 75%;
    }

    .other-body .video-video{
        margin-left: -20px;
    }

    .other-body .audio{
        padding-top: 50px;
    }
}

.other-body .video iframe{
    min-height: 400px;
    right: 0;
}

.other-body .music-text,
.other-body .video-text{
    padding: 0;
}

body{
    z-index: -1;
    position: relative;
}